@import "../../../styles/settings.scss";

.root {
  .filters {
    background-color: rgb(149,103,221); //Dodany tylko w celach podgladowych (do usunięcia podczas dalszej pracy z plikiem)
  }

  .filters{
    background-color: white;
  }
  .brands{
    background-color: rgb(211, 230, 130); //Dodany tylko w celach podgladowych (do usunięcia podczas dalszej pracy z plikiem)
  }
  .brands {
    background-color: rgb(211,230,130); //Dodany tylko w celach podgladowych (do usunięcia podczas dalszej pracy z plikiem)
  }
}
